* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #072e37;
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }
.head-line{
  padding: 20px;
    font-family:cursive;
    font-size:70px;
    
    color:beige;
}
.wonder{
    background-color: #072e37;
    color:beige;
    width:80%;
    margin: 10px;
    padding-top: 10px;

}
.image-container {
width:80%;
 max-width: 400px;
  background-color: beige;
  padding: 20px;
  margin: 20px;
}
.cont{
  margin:10px;
  background-color: #072e37;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#container{
  margin:20px;
  border:2px solid beige;
  background-color: #072e37;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
#container > box {
  flex: 25%;
  box-sizing: border-box;
   border : 2px solid #072e37;
  padding:20px;
  background-color: beige;
  text-align: center;
  border-radius: 5px;
  width:25%;
  margin:20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.box {
  flex: 25%;
  box-sizing: border-box;
   border : 2px solid beige;
  padding:20px;
  background-color: #072e37;
  text-align: center;
  border-radius: 5px;
  width:70%;
  margin:20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
