* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #072e37;
  }
.head-line{
    font-family:cursive;
    font-size: xx-large;
    font: larger;
    color:beige;
}
.world-wonders{
  flex-direction: column;
    width: 90%;
    display: flex;
    align-items: center;
  justify-content:center;
  padding: 20px;


}
.on-col{
  flex-direction: column;
  display: flex;
    align-items: center;
  justify-content:center;

}
.wonder{
    width:100px;
    
    padding: 20px;
    border-bottom: 1px solid #8f8989;

}
#image-container {
  margin-top: 20px;
}